<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/content.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Music&display=swap"
      rel="stylesheet"
    />
    <script
    src="https://kit.fontawesome.com/1573d74580.js"
    crossorigin="anonymous"
  ></script>
    <title>Biegamy na Malince</title>
  </head>
  <body>
    <div class="nav-bar">
      <div class="nav-item"><a href="/">Strona główna</a></div>
      <div class="nav-item"><a href="/#info-section">Informacje</a></div>
      <div class="nav-item"><a href="/galeria">Galeria</a></div>
      <div class="nav-item"><a href="/partnerzy">Partnerzy</a></div>
      <div class="nav-item"><a href="/#action-section">Regulamin</a></div>
      <div class="nav-item"><a href="/#action-section">Zapisy</a></div>
      <div class="nav-item"><a href="/organizatorzy">Organizatorzy</a></div>
    </div>
  </body>
</html>
