<%- include("Partials/header.ejs") %>
<section class="gallery-section">
  <div class="grid-wrapper">
    <div class="big">
      <img src="/images/album/Malinka 078.jpg" alt="" />
    </div>
    <div class="wide">
      <img src="/images/album/Malinka 063.jpg" alt="" />
    </div>
    <div class="tall">
      <img src="/images/album/1.jpg" alt="" />
    </div>
    <div class="big">
      <img src="/images/album/Malinka 062.jpg" alt="" />
    </div>
    <div class="tall">
      <img src="/images/album/Malinka 064.jpg" alt="" />
    </div>
    <div>
      <img src="/images/album/Malinka 054.jpg" alt="" />
    </div>
    <div>
      <img src="/images/album/2.jpg" alt="" />
    </div>
    <div class="big">
      <img src="/images/album/Malinka 013.jpg" alt="" />
    </div>
    <div class="wide">
      <img src="/images/album/Malinka 021.jpg" alt="" />
    </div>
    <div>
      <img src="/images/album/Malinka 052.jpg" alt="" />
    </div>
    <div class="wide">
      <img src="/images/album/Malinka 056.jpg" alt="" />
    </div>
    <div class="big">
      <img src="/images/album/Malinka 055.jpg" alt="" />
    </div>
    <div>
      <img src="/images/album/Malinka 053.jpg" alt="" />
    </div>
    <div class="big">
      <img src="/images/album/Malinka 051.jpg" alt="" />
    </div>
    <div>
      <img src="/images/album/Malinka 050.jpg" alt="" />
    </div>
    <div>
      <img src="/images/album/Malinka 059.jpg" alt="" />
    </div>
    <div>
      <img src="/images/album/Malinka 171.jpg" alt="" />
    </div>
    <div>
      <img src="/images/album/Malinka 060.jpg" alt="" />
    </div>
    <div class="tall">
      <img src="/images/album/Malinka 058.jpg" alt="" />
    </div>
    <div class="tall">
      <img src="/images/album/Malinka 057.jpg" alt="" />
    </div>
    <div class="tall">
      <img src="/images/album/3.jpg" alt="" />
    </div>
    <div class="wide">
      <img src="/images/album/Malinka 014.jpg" alt="" />
    </div>
    <div class="big">
      <img src="/images/album/Malinka 176.jpg" alt="" />
    </div>
    <div class="wide">
      <img src="/images/album/Malinka 180.jpg" alt="" />
    </div>
    <div>
      <img src="/images/album/Malinka 016.jpg" alt="" />
    </div>
    <div class="to-small">
      <img src="/images/album/Malinka 021.jpg" alt="" />
    </div>
    <div class="wide">
      <img src="/images/album/Malinka 005.jpg" alt="" />
    </div>
    <div>
      <img src="/images/album/Malinka 022.jpg" alt="" />
    </div>
    <div class="tall">
      <img src="/images/album/Malinka 010.jpg" alt="" />
    </div>
    <div class="big to-wide">
      <img src="/images/album/Malinka 170.jpg" alt="" />
    </div>
    <div class="to-small">
      <img src="/images/album/Malinka 172.jpg" alt="" />
    </div>
    <div class="to-small">
      <img src="/images/album/Malinka 079.jpg" alt="" />
    </div>
  </div>
</section>

<%- include("Partials/footer.ejs") %>
