<%- include("Partials/header.ejs") %>
<section class="hero-section background-tint">
  <div class="hero-header">
    <h1>Biegamy na Malince</h1>
  </div>
</section>
<section class="info-section" id="info-section">
  <div>
    <h1 class="info-header">IX Bieg Terenowy Zgierz Malinka - 23.06.2024</h1>
  </div>

  <div class="info-container">
    <div>
      <h1 class="info-headers">DYSTANS</h1>
      <i class="fa-solid fa-bullseye"></i>
      <p>
        <b>Biegi</b> odbywają się na trzech dystansach: <b>4, 8 i 12 km</b>,
        czyli od jednego do trzech okrążeń ścieżki biegowej. <br />
        <b>Marsz nordic walking</b>
        odbędzie się na dystansie <b>4 km</b>. <br />Niezależnie od wybranego
        dystansu wszyscy zawodnicy startują jednocześnie. Dodatkowo odbędą się
        <b>biegi dla dzieci i młodzieży</b>. Trasa zostanie wytyczona wokół
        stawu i wyniesie 800 m dla grupy wiekowej 7-14 lat. Dla najmłodszych 0-6
        lat przewidziany jest bieg na 150 m.
      </p>
    </div>
    <div>
      <h1 class="info-headers">MEDALE</h1>
      <i class="fa-solid fa-medal"></i>
      <p>
        Wszyscy uczestnicy, którzy ukończą trasę biegu, zostaną uhonorowani symbolicznym medalem, którego kształt nawiązuje do maliny, nadając mu wyjątkowy charakter. Dodatkowo, dla trzech najszybszych biegaczy w kategorii Panie i Panowie na każdym z dystansów, przewidziane są specjalne puchary jako wyraz uznania za ich osiągnięcia i determinację w wyścigu.
      </p>
    </div>
    <div>
      <h1 class="info-headers">MIASTECZKO</h1>
      <i class="fa-solid fa-city"></i>
      <p>
        Miasteczko biegowe mieści się na terenie MOSiR Zgierz Malinka, który
        dzięki rewitalizacji zyskał szereg atrakcji. Znajdują się na nim: duży
        plac zabaw dla dzieci, tor do pumptrucku, wodny plac zabaw, dwa boiska
        do siatkówki plażowej, mini piłki nożnej i koszykówki, dwa boiska do
        beach soccera, kąpieliska, wypożyczalnia kajaków oraz strzelnica
        golfową. Dodatkowo na dzieci będą czekały gry i zabawy.
      </p>
    </div>
  </div>
  <p class="home-link">
    Piszą o nas:
    <a
      href="http://www.festiwalbiegowy.pl/biegajacy-swiat/upal-i-piach-5-bieg-terenowy-zgierz-malinka-zdjecia?fbclid=IwAR3q9YGpL1OHvQgMDOQAePbsSOlsCG2Mv6zWClc8AfPnTuV5mFRsI9LW58k#.Xj3qlflKhhF"
      target="_blank"
      >Festiwalbiegowy.pl</a
    >
  </p>
</section>
<section class="trasa-section ">
   <h1 class="info-header">TRASA</h1> 
   <p class="wyjatkowa">
    Trasa ma charakter crossowy rzadko
    spotykany na terenach miejskich.
  </p>
   <div class="trasa-img">
      <img
      src="/images/mapa.jpg"
      alt="Mapa - trasa biegu"
      />
      <img
      src="/images/przewyzszenia.png"
      alt="Przewyższenia"
      />
    </div>
  </div> 
</section>
<section class="action-section background-tint" id="action-section">
  <h1 class="info-header"> Więcej Tutaj!</h1>
  <div class="card-holder">
    <div class="card">
      <div class="card-text">Zasady znajdziesz tutaj!</div>
      <div class="button"><a href="/REGULAMIN_VIII.pdf" target="_blank">Regulamin</a></div>
    </div>
    <div class="card">
      <div class="card-text">Biegnij razem z nami!</div>
      <div class="button acc-button"><a href="https://zapisy.inessport.pl/#gr149" target="_blank">Zapisz się</a></div>
    </div>
  </div>
</section>



<%- include("Partials/footer.ejs") %>
