<%- include("Partials/header.ejs") %>
<section class="organizatorzy-section">
  <div>
    <div>
      <a href="http://www.kopalnia-pomyslow.pl/" target="_blank">
        <img src="/images/organizatorzy/KP.png" alt="logo Kopalnia Pomysłów"  class="KP-img"/>
      </a>
    </div>
    <div class="org-text">
      <p>
        <b>Organizator / Partnerzy:</b> Anna Rogósz 603 803 703,
        ar@kopalnia-pomyslow.pl
      </p>
      <p>
        <b>Dyrektor biegu / Media:</b> Piotr Rogósz 503 096 300,
        progosz@kopalnia-pomyslow.pl
      </p>
    </div>
  </div>
  <div class="org-images">
    <img src="/images/organizatorzy/Zgierz.png" alt="logo Zgierz" />
    <a href="http://www.mosir.zgierz.pl/" target="_blank">
      <img src="/images/organizatorzy/Mosir.png" alt="logo MOSiR" />
    </a>
    <a href="https://www.facebook.com/MalinkaZgierz/" target="_blank">
      <img
        src="/images/organizatorzy/Malinka.png"
        alt="logo Biegamy na Malince"
      />
    </a>
  </div>
</section>
<%- include("Partials/footer.ejs") %>
