<%- include("Partials/header.ejs") %>
<section class="partnerzy-section">
    <div class="partnerzy">
        <div>
            <img src="/images/partnerzy/ATLAS.png" alt="">
        </div>
        <div>
            <img src="/images/partnerzy/bike2box.png" alt="">
        </div>
        <div>
            <img src="/images/partnerzy/efektima.png" alt="">
        </div>
        <div>
            <img src="/images/partnerzy/magnetix.png" alt="">
        </div>
        <div>
            <img src="/images/partnerzy/plcsol.png" alt="">
        </div>
        <div>
            <img src="/images/partnerzy/warriors.png" alt="">
        </div>
        <div>
            <img src="/images/partnerzy/barry.jpg" alt="" class="yo" >
        </div>
    </div>

</section>

<%- include("Partials/footer.ejs") %>
